#container
  margin-top: 65px
  margin-bottom: 65px

.grid-sizer, .grid-item
  width: 50%
  img, a
    width: 100%
    display: inline-block
    vertical-align: bottom

.grid-item
  // padding: 3px
  // padding-bottom: 0
  // border: 2px solid white
  // border-bottom: 0
/* 2 columns */
.grid-item--width2
  width: 100%

.popup
  position: relative
  img
    // width: 100%
    display: block
    margin: 0 auto
    width: 100%
  h2
    position: absolute
    // top: 0
    bottom: 0
    left: 0
    padding: 0 17px
    text-align: center
    background-color: #dedede
    color: black
    font-size: 38px
    margin: 0
    display: inline-block
    font-family: 'Rancho', cursive

.fsp-close
  text-decoration: initial
  width: 50px
  height: 50px
  text-align: right
