.m-navigation--top-list
  +clearfix
  background-color: rgba(207, 110, 201, 0.71)
  height: 50px
  width: 100%
  margin: 0
  padding: 0

.m-navigation--top-item
  margin: 5px 0
  +no-bullets
  width: 16.6667% // fallback for non-calc() browsers
  width: calc(100% / 6)
  float: left
  text-align: center
  [class^="icon-"], [class*=" icon-"]
    display: inline-block

.m-navigation--bottom
