
/* =============================================================================
 *  COMPONENT
 *=============================================================================

.component
  text-align: center
  padding: 13px 0

/* =============================================================================
 *  ICONS - COMMON
 *=============================================================================
/**
 * Icon common styles.
 *
 * Set it to block or inline block, whichever suits your needs. Overflow set to
 * hidden for precautions, and make sure to set the font size to 0 and the text
 * indent to -9999px. This allows us to actually include text in the markup
 * which will be good for screen readers and accessibility purposes.

.icon
  display: inline-block
  vertical-align: top
  overflow: hidden
  margin: 3px
  width: 48px
  height: 48px
  font-size: 0
  text-indent: -9999px

/* =============================================================================
 *  ICONS - DEMO 5
 *=============================================================================

.icon-cube
  position: relative
  -webkit-perspective: 800px
  perspective: 800px
  overflow: visible
  &::before, &::after
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ""
    -webkit-transition: all 0.3s
    transition: all 0.3s
  &::before
    z-index: 2
    background-color: #595959 !important
  &::after
    z-index: 1
    opacity: 0
    -webkit-transform: translateY(24px) rotateX(-90deg)
    transform: translateY(24px) rotateX(-90deg)
  &:hover
    &::before
      opacity: 0
      -webkit-transform: translateY(-24px) rotateX(90deg)
      transform: translateY(-24px) rotateX(90deg)
    &::after
      opacity: 1
      -webkit-transform: rotateX(0)
      transform: rotateX(0)
  &.icon-tumblr-social
    &::before
      background-position: 12px -1153px !important
      +sprite(icon-tumblr-social, false)
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 12px -1166px !important
    &::after
      +sprite(icon-tumblr-social, false)
      background-position: 12px -1153px !important
      background-color: #ee802f !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 12px -1166px !important
  &.icon-twitter-social
    &::before
      +sprite(icon-twitter-social, false)
      background-position: 7px -1243px !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 8px -1209px !important
    &::after
      +sprite(icon-twitter-social, false)
      background-position: 7px -1243px !important
      background-color: #4099ff !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 8px -1209px !important
  &.icon-google-plus-social
    &::before
      +sprite(icon-google-plus-social, false)
      background-position: 11px -358px !important
    &::after
      +sprite(icon-google-plus-social, false)
      background-position: 11px -358px !important
      background-color: #d34836 !important
  &.icon-instagram-social
    &::before
      +sprite(icon-instagram-social, false)
      background-position: 8px -450px !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 8px -463px !important
    &::after
      +sprite(icon-instagram-social, false)
      background-position: 8px -450px !important
      background-color: #9c6f45 !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 8px -463px !important
  &.icon-facebook-social
    &::before
      +sprite(icon-facebook-social, false)
      background-position: 14px -188px !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 14px -188px !important
    &::after
      +sprite(icon-facebook-social, false)
      background-position: 14px -188px !important
      background-color: #3b5998 !important
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        background-position: 14px -188px !important

